.nav-bar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  /* margin: 40px; */
  /* margin-bottom: 40px; */
  padding: 1.5em 0 1em 0;
  top: 0;
  height: 200px;
  /* background: url('../img/Home-Four-Banner-Background-Image.png'); */
  background-color: black;
  /* color: rgb(48, 43, 38); */
  /* font-size: 20px; */
  font-family: 'Dosis', sans-serif;
}
/* #a5dce4 */
.nav-bar h1 {
  padding-left: 25px;
}

.nav-bar h4 {
  font-size: 30px;
  color: white;
  padding-right: 25px;
  position: absolute;
  top: 150px;
  right: 10px;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 30px;
  /* bottom: -2px; */
/* width: viewport; */
height: 200px;
}


