.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 1em 0;
  top: 0;
  height: 50px;
  /* background: url('../img/Home-Four-Banner-Background-Image.png'); */
  background-color: rgb(247, 242, 185);
  color: rgb(48, 43, 38);
  font-size: 3rem;
  font-family: 'Arima Madurai', cursive;
}

.nav-bar h1 {
  padding-left: 25px;
}

.nav-bar h6 {
  padding-right: 25px;
  position: relative;
  top: 50px;
}


