@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.sf-icon-file:before {
  content: '\e701';

}

.sf-icon-share:before {
  content: '\e70b';
}

.sf-icon-starred:before {
  content: '\e708';
}

ul.nav.sidebar-nav {
  padding: 5px 0 5px 0;
  margin: 0px;
  max-height: 200px;
}

.sidebar-nav {
  list-style: none;
  padding: 5px 0 5px 0;
}

a.sidebar-brand {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}

.nav.sidebar-nav li:hover {
  text-decoration: none;
  background-color: rgb(211, 223, 238);
}


.sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  width: 241px;
  padding: 0 56px 0 20px;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  font-size: 14px;

}



#default-sidebar {
  color: #ffffff;
}

/* sample-level styles */

#hamburger.menu {
  font-size: 23px;
  cursor: pointer;
  float: left;
  line-height: 50px;
  position: absolute;
  z-index: 1000;
  margin-left: 25px;
  color: #ffff;
}

#hamburger.menu:before {
  content: '\e10d';
}

#hamburger.menu.e-rtl {
  position: relative;
  float: right;
}



/* span.e-text {
  display: flex;
  align-items: center;
  color: #000000;
} */

.title {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.sub-title {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.center {
  text-align: center;
  display: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}



.control-section {
  position: absolute;
  background-color: white;
  /* background: url('../img/Home-Four-Banner-Background-Image.png'); */
  height: 1700px;
  font-size: 25px;
}

.e-text {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  /* padding-bottom: 40px; */
  color: grey;
}

.sidebar-header {
  padding-top: 20px;
  padding-left: 40px;
}

.list-items {
  border-radius: 10px;
  padding: 20px 0 20px 0;
}

.sidebar-icons {
  padding-right: 30px;
}

.e-text.home {
  background-color: #36b4e4;
  display: inline-block;
  width: 180px;
  border-radius: 20px;
  color: white;
}

.e-text.create {
  background-color: #efa620;
  display: inline-block;
  width: 180px;
  border-radius: 20px;
  color: white;
  position: absolute;
  left: 50px;
}

.e-text.mybudgets {
  background-color: #e4647b;
  color: white;
  display: inline-block;
  width: 180px;
  border-radius: 20px;
}