@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.sf-icon-file:before {
  content: '\e701';

}

.sf-icon-share:before {
  content: '\e70b';
}


.sf-icon-starred:before {
  content: '\e708';
}

.sf-icon-star:before {
  content: '\e707';
  font-size: 15px;
  color: #000;
  float: right;

}

.sf-icon-recent:before {
  content: '\e70c';
}

.sf-icon-important:before {
  content: '\e713';
}

.e-sidebar.e-left {
  border: none;
}

.sf-icon-offline:before {
  content: '\e714';
  font-size: 30px;
}

.sf-icon-backup:before {
  content: '\e712';

}

.sf-icon-down:before {
  content: '\e709';

}

.sf-icon-search:before {
  content: '\e711';
  font-size: 18px;

}

.sf-icon-sidebar {
  content: '\e701';
  color: #000000;
  display: inline-block;
  margin-right: 16px;
  width: 40px;
  text-align: left;
  font-size: 20px ;
  vertical-align: middle;
}

ul.nav.sidebar-nav {
  padding: 5px 0 5px 0;
  margin: 0px;
  max-height:200px;
}

.sidebar-nav {
  list-style: none;
  padding: 5px 0 5px 0;
}

a.sidebar-brand {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}

.nav.sidebar-nav li:hover {
  text-decoration: none;
  background-color: lightsteelblue;
}

span.sf-icon-down.icon {
  font-size: 12px;
}

.sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  width:241px;
  padding: 0 56px 0 20px;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  font-size: 14px;

}


.sidebar-brand {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 40px;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  display: inline-flex;
}

.sidebar-image img {
  width: 54px;
  height: 54px;
  margin: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#default-sidebar {
  color: #ffffff;
}

/* sample-level styles */

#hamburger.menu {
  font-size: 23px;
  cursor: pointer;
  float: left;
  line-height: 50px;
  position: absolute;
  z-index: 1000;
  margin-left: 25px;
  color: #ffff;
}

#hamburger.menu:before {
  content: '\e10d';
}

#hamburger.menu.e-rtl {
  position: relative;
  float: right;
}



/* span.e-text {
  display: flex;
  align-items: center;
  color: #000000;
} */

.title {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.sub-title {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.center {
  text-align: center;
  display: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}



.control-section {
  position: absolute;
  background-color: white;
  /* background: url('../img/Home-Four-Banner-Background-Image.png'); */
  height: 700px;
  font-size: 25px;
}
.e-text {
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight:bold;
  /* padding-bottom: 40px; */
  color: grey;
}
.sidebar-header {
  padding-top: 20px;
  padding-left: 40px;
}
.list-items {
border-radius: 10px;
  padding: 20px 0 20px 0;
}