body {
  background-color: #fafaf4bf;
}

#homepage, #income, #budgets, #create {
  margin:auto;
  width: 50%;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(210, 209, 219);
  box-shadow: 0 0 15px rgb(192, 155, 173);
}
